<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/edit-form-profile.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-items">
            <div class="logo">
                <a href="home.html"><h2>MiPcIdeal</h2></a>
            </div>
            <div class="btn-group d-flex align-items-center">
                <button class="btn btn-custom btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/category_icon.png" alt="Categorias" class="button-header-icons">
                    <span>Categorías</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Laptops</a></li>
                    <li><a class="dropdown-item" href="#">Escritorio</a></li>
                    <li><a class="dropdown-item" href="#">Tablets</a></li>
                    <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Educación</a></li>
                    <li><a class="dropdown-item" href="#">Hogar</a></li>
                    <li><a class="dropdown-item" href="#">Oficina</a></li>
                </ul>
            </div>
            <div class="search-container">
                <form class="search-form" role="search">
                    <input class="search-input" type="search" placeholder="Buscar productos..." aria-label="Search">
                    <button class="search-button" type="submit">Buscar</button>
                </form>
            </div>
            <div class="btn-group d-flex align-items-center">
                <button class="btn btn-custom btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/profile_icon.png" alt="Perfil" class="button-header-icons">
                    <span>Perfil</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="login.html">Iniciar sesión</a></li>
                    <li><a class="dropdown-item" href="register.html">Registrarse</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="edit-profile.html">Editar perfil</a></li>
                    <li><a class="dropdown-item" href="edit-preferences.html">Preferencias</a></li>
                    <li><a class="dropdown-item" href="edit-services.html">Servicios</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
            <div class="btn-group d-flex align-items-center">
                <button class="btn btn-custom btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/settings_icon.png" alt="Configurar" class="button-header-icons" id="theme-icon">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><span class="menu-icon">☀️</span><span>Modo Claro</span></a></li>
                    <li><a class="dropdown-item" href="#"><span class="menu-icon">🌙</span><span>Modo Oscuro</span></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"><span class="menu-icon">⚙️</span><span>Automático</span></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="form-container">
            <div class="form-title">
                <h2 class="text-center my-4">Editar tus Servicios</h2>
            </div>
            <form>
                <fieldset class="form-section">
                    <legend class="form-subtitle">Servicios:</legend>
                    <div class="form-check-container">
                        <label><input type="checkbox" name="products" value="Venta de Componentes"> Venta de Componentes</label>
                        <label><input type="checkbox" name="products" value="Venta de Dispositivos"> Venta de Dispositivos</label>
                        <label><input type="checkbox" name="products" value="Mantenciones"> Mantenciones</label>
                        <label><input type="checkbox" name="products" value="Armados"> Armados</label>
                    </div>
                </fieldset>
                <div class="btn-save-container">
                    <button type="submit" class="btn btn-primary btn-form-save">Guardar</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <ul>
            <a href="../templates/info.html" style="color: white;">Nosotros</a>
        </ul>
        <p>&copy; 2025 MiPc Ideal. Todos los derechos reservados.</p>
    </footer>
    <!-- MANTENER ORDEN DE LAS IMPORTACIONES -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

</body>
</html>