<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotiza tu nuevo Dispositivo</title>
</head>
<body>
    <header></header>
    <nav class="nav">
        <div class="div">
            <ul>
                <a href="home.html"><h2>MiPc ideal</h2></a>
                <a href="prductos.html">Productos</a>
                <a href="nosotros.html">Nosotros</a>
                <img src="" alt="">
                <a href="login.html">Iniciar Sesión</a>
                <a href="register.html">Registrarse</a>
            </ul>
        </div>
    </nav>
    <h1>MiPc Idealaaaaa</h1>
    <main>
        <div class="div"><h4>
            Bienvenido a MiPc Ideal, la mejor opción para encontrar el dispositivo perfecto para ti.
            Aquí podrás cotizar y comparar diferentes opciones de computadoras y laptops según tus necesidades y presupuesto.
            ¡Empieza a explorar y encuentra tu próxima computadora ideal hoy mismo!
        </h4></div>

        <div class="div"><p>
            En MiPc Ideal, entendemos que cada persona tiene necesidades y preferencias únicas cuando se trata de elegir una computadora.
            <br>
            Ya sea que necesites una laptop para trabajar, una computadora de escritorio para juegos o una opción portátil para estudiar, 
            tenemos una amplia gama de dispositivos para satisfacer tus requerimientos.
            Nuestra plataforma te permite filtrar y comparar diferentes modelos según características como el rendimiento, la capacidad de almacenamiento,
            la duración de la batería y mucho más. Además, te ofrecemos recomendaciones personalizadas basadas
            en tus preferencias y presupuesto.
            <br>
            No importa si eres un profesional, un estudiante o un entusiasta de la tecnología, en MiPc Ideal encontrarás la computadora perfecta para ti.
            <br>
            ¡Explora nuestras opciones y cotiza tu nuevo dispositivo hoy mismo!
    
        </p></div>
        <div class="div"><h3>
            ¿Qué estás buscando?
        </h3></div>
        <article>
            <div class="div">
                <ul>
                    <li>Computadoras de escritorio</li>
                    
                    <li>Laptops</li>
                    <li>Tabletas</li>
                    <li>Accesorios</li>
                </ul>
            </div>   
        </article>
        <section class="section">
            <h2>Productos Destacados</h2>
            <p>Explora algunos de nuestros productos más populares y mejor valorados.</p>
        <div class="card-container">
        <article class="card">
            <div class="card-header">
            <img src="vemon.jpg" alt="Descripción de la imagen">
            </div>
            <div class="card-body">
            <h2>producto1</h2>
            <p>Este es el contenido principal de la tarjeta, puede ser texto o cualquier otro elemento.</p>
            </div>
            <div class="card-footer">
            <a href="">Más información</a>
            </div>
        </article>
        <!-- Puedes añadir más cards aquí -->
        </div>

        </section>

        </main>
</body>
</html>