{% extends "base.html" %}

{% load static %}

{% block content %}
    
    <div class="title">
        <h3>Tiendas asociadas</h3>
    </div>
    <div class="carousel-2">
        {% if tiendas %}
            {% for tienda in tiendas %}
                <div class="product-item card product-card h-100">
                {% if tienda.image_tienda %}
                    <img src="{{ tienda.image_tienda.url }}" class="card-img-top" alt="{{ tienda.nombre_tienda }}">
                {% else %}
                    <img src="{% static 'img/tienda.png' %}" class="card-img-top" alt="{{ tienda.nombre_tienda }}">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ tienda.nombre_tienda }}</h6>
                    <p class="card-text">{{ tienda.descripcion_tienda|default:"Sin descripción." }}</p>
                    <a href="#" class="btn btn-sm btn-primary">Ver más</a>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card pd2-empty">Aún no hay tiendas registradas.</div>
        {% endif %}
    </div>
    <div class="title">
        <h3>Categorias</h3>
    </div>
    <div class="cards-popular">
        {% for categoria in categorias %}
        <!-- Cards de Categorias -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                {% if categoria.imagen_categoria %}
                    <img src="{{ categoria.imagen_categoria.url }}" alt="{{ categoria.nombre_categoria }}">
                {% else %}
                    <img src="{% static 'img/default_categoria.png' %}" alt="{{ categoria.nombre_categoria }}">
                {% endif %}
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">{{ categoria.nombre_categoria }}</h6>
                <p class="card-text">{{ categoria.descripcion_categoria|default:"Sin descripción." }}</p>
                <a href="{% url 'products_by_category' categoria.id %}" class="btn-primary">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="title">
        <h3>Lo más visto</h3>
    </div>
    <div class="carousel-2">
        <!-- Carrusel de Productos Más Vistos -->
        {% for producto in productos_vistos %}
        <div class="product-item card product-card h-100">
            {% if producto.imagen_producto %}
                <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
            {% else %}
                <img src="{% static 'img/pc1.png' %}" class="card-img-top" alt="{{ producto.nombre_producto }}">
            {% endif %}
            <div class="card-body">
                <h6 class="card-title">{{ producto.nombre_producto }}</h6>
                <p class="card-text">{{ producto.descripcion_producto|default:"Sin descripción." }}</p>
                <a href="{% url 'product_detail' producto.id %}" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}