<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotiza tu nuevo Dispositivo</title>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="home.html"><h2>MiPc Ideal</h2></a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Categorias</a></li>
                <li class="search-container">
                    <form class="search-form">
                        <input type="text" class="search-input" placeholder="Buscar productos...">
                        <button type="submit" class="search-button">🔍</button>
                    </form>
                </li>
                
            </ul>
            <div class="menu-container">
                <button class="menu-btn" id="menuToggle">Perfil</button>
                <div class="menu-options" id="menuOptions">
                    <a href="login.html">Iniciar sesión</a>
                    <a href="register.html">Registrarse</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1>MiPc Ideal</h1>
    </div>
    <footer>
        <ul>
            <a href="../templates/info.html" style="color: white;">Nosotros</a>
        </ul>
        <p>&copy; 2024 MiPc Ideal. Todos los derechos reservados.</p>
    </footer>

<script src="../static/js/script.js"></script>
</body>
</html>