{% extends "base.html" %}

{% load static %}

{% block content %}

    <h1 >Nosotros</h1>
    <div class="info-content" style="text-align: justify; max-width: 1000px;">
        <p>Bienvenido a MiPc Ideal, tu destino confiable para encontrar la computadora perfecta.</p>
        <br>
        <p >En MiPc Ideal, nuestra misión es ayudarte a encontrar la computadora perfecta que se adapte a tus necesidades y presupuesto. Sabemos que elegir el dispositivo adecuado puede ser una tarea abrumadora, por eso hemos creado una plataforma fácil de usar donde puedes comparar diferentes opciones y obtener cotizaciones personalizadas.</p>
        <p>Nuestro equipo está compuesto por expertos en tecnología que están comprometidos en brindarte la mejor experiencia de compra. Nos esforzamos por ofrecerte información precisa y actualizada sobre las últimas tendencias en el mundo de la informática.</p>
        <p>Además, valoramos la transparencia y la confianza. Por eso, trabajamos con una red de proveedores confiables para asegurarnos de que recibas productos de alta calidad a precios competitivos.</p>
        <p>Gracias por elegir MiPc Ideal. Estamos aquí para ayudarte en cada paso del camino hacia la compra de tu nuevo dispositivo.</p>
        <p>El equipo de MiPc Ideal</p>
        <br>
    </div>

{% endblock %}
