<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiPc ideal - Nosotros</title>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="home.html"><h2>MiPc Ideal</h2></a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Categorias</a></li>
                <li class="search-container">
                    <form class="search-form">
                        <input type="text" class="search-input" placeholder="Buscar productos...">
                        <button type="submit" class="search-button">🔍</button>
                    </form>
                </li>
                
            </ul>
            <div class="menu-container">
                <button class="menu-btn" id="menuToggle">Perfil</button>
                <div class="menu-options" id="menuOptions">
                    <a href="login.html">Iniciar sesión</a>
                    <a href="register.html">Registrarse</a>
                </div>
            </div>
        </nav>
    </header>
<main class="info-container">
    <div class="info-container">
        <h1 >Nosotros</h1>
        <div class="info-content" >
            <p>Bienvenido a MiPc Ideal, tu destino confiable para encontrar la computadora perfecta.</p>
            <br>
            <p >En MiPc Ideal, nuestra misión es ayudarte a encontrar la computadora perfecta que se adapte a tus necesidades y presupuesto. Sabemos que elegir el dispositivo adecuado puede ser una tarea abrumadora, por eso hemos creado una plataforma fácil de usar donde puedes comparar diferentes opciones y obtener cotizaciones personalizadas.</p>
            <p>Nuestro equipo está compuesto por expertos en tecnología que están comprometidos en brindarte la mejor experiencia de compra. Nos esforzamos por ofrecerte información precisa y actualizada sobre las últimas tendencias en el mundo de la informática.</p>
            <p>Además, valoramos la transparencia y la confianza. Por eso, trabajamos con una red de proveedores confiables para asegurarnos de que recibas productos de alta calidad a precios competitivos.</p>
            <p>Gracias por elegir MiPc Ideal. Estamos aquí para ayudarte en cada paso del camino hacia la compra de tu nuevo dispositivo.</p>
            <p>El equipo de MiPc Ideal</p>
            <br>
        </div>
    </div>
</main>

    <footer>
        <p>&copy; 2024 MiPc Ideal. Todos los derechos reservados.</p>
    </footer>

<script src="../static/js/script.js"></script>
</body>
</html>