{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="title">
        <h3>Nuevos productos</h3>
    </div>
    <div class="carousel-2">
        <div class="card product-card h-100">
            <img src="{% static 'img/pc1.png' %}" class="card-img-top" alt="Producto 1">
            <div class="card-body">
                <h6 class="card-title">Producto 1</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card product-card h-100">
            <img src="{% static 'img/pc2.png' %}" class="card-img-top" alt="Producto 2">
            <div class="card-body">
                <h6 class="card-title">Producto 2</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card product-card h-100">
            <img src="{% static 'img/pc3.png' %}" class="card-img-top" alt="Producto 3">
            <div class="card-body">
                <h6 class="card-title">Producto 3</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card product-card h-100">
            <img src="{% static 'img/pc4.png' %}" class="card-img-top" alt="Producto 4">
            <div class="card-body">
                <h6 class="card-title">Producto 4</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card product-card h-100">
            <img src="{% static 'img/pc1.png' %}" class="card-img-top" alt="Producto 5">
            <div class="card-body">
                <h6 class="card-title">Producto 5</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
    </div>
    <div class="title">
        <h3>Productos</h3>
    </div>
    <div class="cards-popular">
        <!-- Card 1 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc1.png' %}" alt="Popular 1">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 1</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc2.png' %}" alt="Popular 2">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 2</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc3.png' %}" alt="Popular 3">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 3</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc1.png' %}" alt="Popular 4">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 4</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc2.png' %}" alt="Popular 4">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 5</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc3.png' %}" alt="Popular 4">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 6</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc1.png' %}" alt="Popular 4">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 7</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                <img src="{% static 'img/pc2.png' %}" alt="Popular 4">
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">dispositivo 8</h6>
                <p class="card-text">Descripción breve del producto.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>
    </div>
{% endblock %}