{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="title">
        <h3>Nuevos productos</h3>
    </div>
    <div class="carousel-2">
        {% for producto in productos_recientes %}
        <div class="product-item card product-card h-100">
            {% if producto.imagen_producto %}
                <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
            {% else %}
                <img src="{% static 'img/default.png' %}" class="card-img-top" alt="Default Image">
            {% endif %}
            <div class="card-body">
                <h6 class="card-title">{{ producto.nombre_producto }}</h6>
                <p class="card-text">{{ producto.descripcion_producto }}</p>
                <a href="{% url 'product_detail' producto.id %}" class="btn btn-sm btn-primary">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="title">
        <h3>Productos</h3>
    </div>
    <div class="cards-popular">
        <!-- Cards para los productos -->
        {% for producto in productos %}
        <div class="popular-card-horizontal">
            <div class="card-img-container">
                {% if producto.imagen_producto %}
                    <img src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre_producto }}">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="Default Image">
                {% endif %}
            </div>
            <div class="card-body-horizontal">
                <h6 class="card-title">{{ producto.nombre_producto }}</h6>
                <p class="card-text">{{ producto.descripcion_producto }}</p>
                <a href="{% url 'product_detail' producto.id %}" class="btn-primary">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}