<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotiza tu nuevo Dispositivo</title>
    <link rel="stylesheet" href="../static/css/register.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="home.html"><h2>MiPc Ideal</h2></a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Categorias</a></li>
                <li class="search-container">
                    <form class="search-form">
                        <input type="text" class="search-input" placeholder="Buscar productos...">
                        <button type="submit" class="search-button">🔍</button>
                    </form>
                </li>
            </ul>
            <div class="menu-container">
                <button class="menu-btn" id="menuToggle">Perfil</button>
                <div class="menu-options" id="menuOptions">
                    <a href="login.html" >Iniciar sesión</a>
                    <a href="register.html">Registrarse</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="auth-stack" >
<div class="form-container">
            <h2>Registro</h2>
                <form id="registroForm">
                <div class="mb-3 text-center">
                <label class="form-label d-block fw-semibold">Tipo de cuenta</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoCuenta" id="usuario" value="usuario" checked>
                    <label class="form-check-label" for="usuario">Usuario</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoCuenta" id="tienda" value="tienda">
                    <label class="form-check-label" for="tienda">Tienda</label>
                </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="bi bi-person"></i></span>
                    <input type="text" id="nombre" class="form-control" name="nombre" required placeholder="Nombre de Usuario">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="bi bi-envelope"></i></span>
                        <input type="text" id="email" class="form-control" name="email" required placeholder="Ingresa tu correo">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="bi bi-lock"></i></span>
                        <input id="pwBootstrap" type="password" name="password" minlength="6" required class="form-control" placeholder="Ingresa tu Contraseña" aria-describedby="togglePassword" aria-label="Contraseña" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="bi bi-lock"></i></span>
                    <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required placeholder="Vuelve a ingresar tu Contraseña">
                    </div>
                </div>
                <div class="container-check-list-showpass">
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" id="showChk">
                        <label class="form-check-label" for="showChk">
                            Mostrar contraseña
                        </label>
                    </div>
                </div>
                
                
                <!-- Intereses -->
                <div class="container-check-list">
                    <label class="form-label fw-semibold d-block text-center mb-2">Selecciona tus intereses</label>
                    <div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="gamer">
                            <label class="form-check-label" for="gamer">Para Gamers</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="estudios">
                            <label class="form-check-label" for="estudios">Para Estudios</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="trabajo">
                            <label class="form-check-label" for="trabajo">Para Trabajo</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="diseno">
                            <label class="form-check-label" for="diseno">Para Diseño</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="mantencion">
                            <label class="form-check-label" for="mantencion">Mantención</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="armados">
                            <label class="form-check-label" for="armados">Armados</label>
                        </div>
                    </div>
                </div>
                <div id="serviciosSection" class="container-check-list" >
                    <label class="form-label fw-semibold d-block text-center mb-2">Selecciona tus Servicios</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="componentes">
                            <label class="form-check-label" for="componentes">Venta de Componentes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="dispositivos">
                            <label class="form-check-label" for="dispositivos">Venta de Dispositivos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mantenciones">
                            <label class="form-check-label" for="mantenciones">Mantenciones</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="armadosTienda">
                            <label class="form-check-label" for="armadosTienda">Armados</label>
                        </div>
                    </div>
                    
                </div>
                    <button type="submit" class="btn">Registrarse</button>
            </form>
        </div>
        <div class="register-container">
                <p>¿Tienes una cuenta?
                    <br>
                    <a href="login.html">Inicia sesión aquí</a>
                </p>
            </div>
        </div>
        
    </main>

    <footer>
        <nav>
            <div class="container">
            <h2>Sobre MiPc Ideal</h2>
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Consejos y tips tecnológicos</a></li>
                    <li><a href="#">Privacidad y seguridad</a></li>
                </ul>
            </div>
            <div class="container">
                <h2>Tiendas afiliadas</h2>
                <ul>
                    <li><a href="#">Componentes</a></li>
                    <li><a href="#">Dispositivos</a></li>
                    <li><a href="#">Mantención</a></li>
                </ul>
            </div>
            <div class="container">
                <h2>Nuestras redes</h2>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </nav>
        
        <p>&copy; 2024 MiPc Ideal. Todos los derechos reservados.</p>
    </footer>

<script src="../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>